body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.dashboard {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.form input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.qr-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.qr-box {
    margin: 40px; /* Adds space between QR codes */
    padding: 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    width: 250px; /* Set a fixed width for each QR box */
    height: 150px; /* Set a fixed height for each QR box to make it rectangular */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-box img {
    width: 300px; /* Make the QR code rectangular */
    height: 120px; /* Make the QR code rectangular */
    margin-bottom: 10px;
}

.qr-box .top-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; 
}

.qr-box .bottom-text {
    font-size: 14px;
    color: #666;
    margin-top: 14px; /* Space between QR code and bottom text */
}
